<html>
<head>
    <link href="estilos.css" rel="stylesheet" />
    <title>Neat Burguer</title>
</head>
<body>
    <header>
        <nav>
            <a href="~/Home/Index">Principal</a>
            <a href="~/Promociones/Index">Promociones</a>
            <a href="~/Menu/Index">Menú</a>
        </nav>      
    </header>
    <main>
        @RenderBody()       
    </main>
</body>
</html>
